--find-links https://download.pytorch.org/whl/torch_stable.html
argparse
chardet
csrgraph
gensim
hierarchy
matplotlib
metrics
networkx
normalize
numba
numpy
pandas
preprocessing
torch
requests
scipy
scikit-learn
transformers
